<form method="get" action="/creditCard/<%= customer.customerId %>/<%= creditCard.accountNumber %>/details">
  <h1><%= creditCard.accountName %></h1>
  <p>Current Balance: <span><%= Number(creditCard.currentBalance).toFixed(2) %></span></p>
  <p>Total Limit: <span><%= Number(creditCard.totalLimit).toFixed(2) %></span></p>
  <p>Available Limit: <span><%= Number(creditCard.availableLimit).toFixed(2) %></span></p>
  <p>APR: <span><%= Number(creditCard.apr).toFixed(2) %></span></p>
  <p>Statement Balance: <span><%= Number(creditCard.statementBalance).toFixed(2) %></span></p>
  <p>Minimum Payment Due: <span><%= Number(creditCard.minimumPaymentDue).toFixed(2) %></span></p>
  <p>Payment Due Date: <span><%= creditCard.paymentDueDate.toLocaleDateString('en-US') %></span></p>
  <p>Closing Date: <span><%= creditCard.closingDate.toLocaleDateString('en-US') %></span></p>
  <br>
  <a href="/creditCard/<%= customer.customerId %>/<%= creditCard.accountNumber %>/payment">Make payment ></a>
</form>
